body {
  --bg: #fefefe;
  --text: #2f3e54;
  --primary: #444494;
  --secondary: #fbf2e9;

  width: 100%;
  overflow-y: auto;
  color: var(--text);
  background-color: var(--bg);
}
body.dark {
  --bg: #222831;
  --text: #cbd4d9;
  --primary: #cbc3e3;
  --secondary: #393e46;
}

body.dark .dark-hidden {
  display: none;
}

body.dark .dark-inline-block {
  display: inline-block;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--primary);
  line-height: 40px;
}

a {
  color: var(--primary);
  text-decoration: none;
  outline: none;
  transition: opacity 0.1s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
a:hover {
  opacity: 0.7;
}
button {
  color: var(--primary);
  background-color: var(--secondary);
  font-family: 'Open Sans';
  background: inherit;
}
p {
  word-break: break-word;
}
blockquote {
  color: #fefefe;
  background-color: #2d303d;
  margin: 10px auto;
  padding: 1em !important;
  border-left: 5px solid #999;
  font-style: italic;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
code {
  font-size: 0.9rem !important;
}
:not(pre) > code {
  padding: 0.2em !important;
  background: #fbf2e9 !important;
  color: #39343c !important;
}
.gatsby-highlight {
  margin: 0;
  border-radius: 0.25rem;
}
.gatsby-code-title {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: 0.8rem;

  background-color: black;
  color: white;
  z-index: 0;

  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
