h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 40px;
}
a {
  text-decoration: none;
  outline: none;
  transition: opacity 0.1s ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
a:hover {
  opacity: 0.7;
}
button {
  background: inherit;
}
p {
  word-break: break-word;
}
blockquote {
  color: #fefefe;
  background-color: #2d303d;
  margin: 10px auto;
  padding: 1em !important;
  border-left: 5px solid #999;
  font-style: italic;
}
blockquote:before {
  display: none;
}
blockquote:not(:first-of-type) {
  margin-top: 0.5em;
}
code {
  font-size: 0.9rem !important;
}
:not(pre) > code {
  padding: 0.2em !important;
  background: #fbf2e9 !important;
  color: #39343c !important;
}
